# === Kibana Service ClusterIP ===
---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: efk-logging
  labels:
    app: kibana
spec:
  ports:
    - port: 5601 # default Kibana port
  selector:
    app: kibana
# === Kibana NodePort ===
---
apiVersion: v1
kind: Service
metadata:
  name: kibana-nodeport
  namespace: efk-logging
  labels:
    app: kibana
spec:
  type: NodePort
  ports:
    - port: 5601
      targetPort: 5601
      nodePort: 30601
  selector:
    app: kibana
